/*
  color scheme: white and gray and if I change it later I will
*/

.wrapper {
  height: 100%;
  width: 80vw;
  background-color: #FFF;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Merriweather";
}

#headerImg {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25vh;
}

.docImg {
  border-radius: 100%;
  width: 90%;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

a:clicked {
  text-decoration: underline;
  color: black;
}

.navigation {
  border: 1px solid gray;
  display: inline-block;
  list-style-type: none;
  width: 30%;
  text-align: center;
  color: gray;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: auto;
}

.navigation:hover {
  border: 1px solid blue;
}

.active {
  background-color: gray;
  color: white;
}

.hidden {
  display: none;
}

.content .span_3 {
  width: 75%;
}

.experience , .other {
  display: none;
}

.block_1{
  width: 30%;
  float: left;
  text-align: center;
  margin-right: 3%;
}
.block_2{
  width: 64%;
  float: left;
  margin-right: 3%;
}

.clear {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

figure {
  cursor: pointer;
}
.imgDescription{
  display: none;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: .9;
  z-index: 3;
  position: fixed;
}
