/*
  color scheme: white and gray and if I change it later I will
*/

html {
  height: 100%;
  width: 80vw;
  background-color: #FFF;
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Merriweather";
}

#headerImg {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
}

#headerNav {
}

.navigation {
  border: 1px solid gray;
  display: inline-block;
  list-style-type: none;
  width: 30%;
  text-align: center;
  color: gray;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: auto;
}

.navigation:hover {
  border: 1px solid blue;
}

.active {
  background-color: gray;
  color: white;
}

.hidden {
  display: none;
}
